<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 로그 레벨별 색상 설정 -->
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

  <!-- MDC 값을 포함한 로그 패턴 설정 -->
  <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %-36logger{36} [%X{requestId} | %X{requestMethod} | %X{requestUri}] - %msg%n"/>
  <property name="LOG_FILE_PATH" value=".logs"/>
  <property name="LOG_FILE_NAME" value="application"/>

  <!-- 콘솔 출력 설정 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 파일 출력 설정 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

<!--  비동기 로깅 설정-->
  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE"/>
  </appender>
<!--  프로필 prod 아님-->
  <springProfile name="!prod">
<!--   기본 셋팅 디버그 로그 이상-->
    <root level="debug">
<!--      콘솔만 INFO 수준에서 -->
      <appender-ref ref="CONSOLE">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
        </filter>
      </appender-ref>
<!--      비동기로 파일 작업 진행-->
      <appender-ref ref="ASYNC_FILE"/>
    </root>
  </springProfile>

<!--  프로필 prod-->
  <springProfile name="prod">
<!--    기본 셋팅 info 로그 이상-->
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>